# Elixir

*.beam

# Scala / SBT

*.class
*.log

scala/.cache/
scala/.lib/
scala/.history/
scala/dist/*
scala/target/
scala/exercises/target
scala/lib_managed/
scala/src_managed/
project/boot/
project/plugins/project/

# IDE Specific

**/.metals
**/.vscode
**/.bloop
**/.idea
**/.worksheet
**/.scala_dependencies
